/*Loot Sitewide CSS*/

@font-face {
    font-family: "Bebas Neue Book"; /*Licence can be found at https://www.fontsquirrel.com/license/bebas-neue*/
    src: url("../fonts/regular.ttf");
}


body { 
    /*Establishes styles used on all elements. */ 
    font-family: "Bebas Neue Book";
    background: url("../img/background.png") no-repeat center center fixed;
    background-size: 100% 100%;
}

/*Begin Navigation */

#mainNav {
    margin-top: 30px;
    font-size: 20px;
    color: #507dbc;
    box-shadow: 0px 6px 5px grey;
}

ul {
    list-style-type: none;
    background: rgba(255, 255, 255, 0.6);
    height: 100px;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 70px;
    color:#507dbc;
}

li a:hover {
    color: red;
}



a:visted {
    color: white;
}

#homeLink {
    font-size: 5px; /*Not Working?*/
}

/*End Navigation */


/* Begin Main Banner */

#sloganBox {
    margin-top: 120px;
    padding-bottom: 0;
    font-size: 60px;
    color: #507dbc;
    box-shadow: 0px 6px 5px grey;
    height: 30%;
    background: rgba(255, 255, 255, 0.6);
}

#subText{
    float:left;
    margin-top: -65px;
}

/* End Main Banner */